.form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.form input.ng-valid.ng-touched {
    background-color: #78FA89;
}